.login {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.login-logo img {
    margin-left: 150%;
    height: 80px;
    width: 80px;
}

.login-right {
    margin-top: 15%;
    align-items: center;
    justify-content: center;
}