.home {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    background-image: linear-gradient(200deg, #ef806f, #1f7285, #00d0ff, #1f7285, #ef806f);
    background-size: 200% 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: identifier;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.form-home {
    background-color: #29292E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 30px;
    width: 900px;
    height: 650px;
}

.form-home h1{
    background-color: #29292E;
    font-family: 'Lobster';
    font-size: 40px;
    margin-bottom: 50px;
}

.tabela tr, td{
    background-color: #1A1A1D;
    color: white;
    text-align: center;
}

/*------ Botões --------*/

.linhaHome {
    width: 80%;
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
    font-size: 17px;
    margin-top: 35px;
}

.form-btn-home {
   background: transparent;
   margin-left: 90px;
}

.botao {
    width: 99%;
    color: white;
    font-weight: 800;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 8px;
    cursor: pointer;
    border: none;
}

.form-btn-fundo {
    background: transparent;
}

.form-botao {
    margin: 0 5px;
    width: 30%;
    color: white;
    height: 34px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

@keyframes identifier {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

@media (max-width: 1366px){
    .form-home {
        background-color: #29292E;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        padding: 30px;
        width: 780px;
        height: 595px;
    }
    
    .form-home h1{
        background-color: #29292E;
        font-family: 'Lobster';
        font-size: 30px;
        margin-bottom: 50px;
    }

    /*------ Botões --------*/

    .linhaHome {
        width: 80%;
        background: transparent;
        outline-width: 0;
        color: white;
        border: none;
        font-size: 17px;
        margin-top: 25px;
    }

    .form-btn-home {
        background: transparent;
        margin-left: 80px;
    }

    .botao {
        width: 99%;
        color: white;
        font-weight: 800;
        height: 40px;
        border-radius: 5px;
        font-size: 18px;
        margin-top: 8px;
        cursor: pointer;
        border: none;
    }

    .form-btn-fundo {
        background: transparent;
    }

    .form-botao {
        margin: 0 5px;
        width: 34%;
        color: white;
        height: 34px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
    }
}