.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;

    background-image: linear-gradient(200deg, #ef806f, #1f7285, #00d0ff, #1f7285, #ef806f);
    background-size: 200% 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    animation-name: identifier;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.form-cadastro {
    background-color: #29292E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    width: 900px;
    height: 650px;
}

.form-cadastro h1{
    background-color: #29292E;
    font-family: 'Lobster';
    font-size: 40px;
    margin-bottom: 10px;
}

.info {
    background-color: #29292E;
    font-family: 'Roboto';
    font-size: 20px;
    margin-right: 688px;
    margin-bottom: 10px;
}

.EndLabel {
    background-color: #29292E;
    font-family: 'Roboto';
    font-size: 20px;
    margin-right: 780px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.labelSenha {
    background-color: #29292E;
    font-family: 'Roboto';
    font-size: 20px;
    margin-right: 700px;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*------ Definições para todos os Campos --------*/

.campos {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 100%;
    height: 100%;
    border-radius: 5px;  
}

.linha, .campos .campoTexto {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: white;
    border: none;
    font-size: 17px;
    margin-left: 2px;
    margin-right: 5px;
    box-shadow: none;
    outline: 0;
}

/*------ Botões --------*/

.linha2 {
    width: 50%;
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
    font-size: 17px;
}

.form-btn {
   background: transparent;
   margin-right: 150px;
}

.botoes {
    width: 99%;
    color: white;
    font-weight: 800;
    height: 40px;
    border-radius: 5px;
    font-size: 18px;
    margin-top: 5px;
    cursor: pointer;
    border: none;
}

@keyframes identifier {
    0% {
        background-position-x: 0%;
    }
    100% {
        background-position-x: 100%;
    }
}

@media (max-width: 1366px){
    .form-cadastro {
        background-color: #29292E;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 50px;
        padding: 20px;
        width: 780px;
        height: 595px;
    }

    .form-cadastro h1{
        margin-top: 20px;
        background-color: #29292E;
        font-family: 'Lobster';
        font-size: 35px;
    }

    .info { 
        margin-top: 2px;
        background-color: #29292E;
        font-family: 'Roboto';
        font-size: 18px;
        margin-right: 590px;
    }

    .EndLabel {
        background-color: #29292E;
        font-family: 'Roboto';
        font-size: 18px;
        margin-right: 670px;
        margin-bottom: 10px;
        margin-top: 8px;
    }
    
    .labelSenha {
        background-color: #29292E;
        font-family: 'Roboto';
        font-size: 18px;
        margin-right: 600px;
        margin-bottom: 10px;
        margin-top: 8px;
    }

    /*---- Botões ----*/

    .linha2 {
        width: 50%;
        background: transparent;
        outline-width: 0;
        color: white;
        border: none;
        font-size: 17px;
    }
    
    .form-btn {
       background: transparent;
       margin-right: 150px;
    }
    
    .botoes {
        width: 99%;
        color: white;
        font-weight: 800;
        height: 38px;
        border-radius: 5px;
        font-size: 18px;
        margin-top: 4px;
        cursor: pointer;
        border: none;
    }
}