.cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.form-cadastro {
    background-color: #29292E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    padding: 20px;
    width: 900px;
    height: 550px;
}

.form-cadastro h1{
    background-color: #29292E;
    font-family: 'Lobster';
    font-size: 40px;
    margin-bottom: 40px;
}

.Nome {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;  
}

.Nome label{
    margin-left: 10px;
    font-size: 17px;
    background-color: #1A1A1D;
}


.linha, .Nome .campoTexto {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: white;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.tipoTelefone {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;  
}

.linha1, .tipoTelefone .campoTexto {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: white;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.Telefone {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;  
}

.Telefone label{
    margin-left: 10px;
    font-size: 17px;
    background-color: #1A1A1D;
}


.linha1, .Telefone .campoTexto {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: white;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.Email {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;  
}

.Email label{
    margin-left: 10px;
    font-size: 17px;
    background-color: #1A1A1D;
}

.form-cadastro label {
    background-color: #29292E;
    font-family: 'Lobster';
    font-size: 25px;
    margin-right: 750px;
    margin-bottom: 20px;
    margin-top: 40px;
}


.linha1, .Email .campoTexto {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: white;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.CPF {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;  
}

.CPF label{
    margin-left: 10px;
    font-size: 17px;
    background-color: #1A1A1D;
}

.linha, .CPF .campoTexto {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: white;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.Cep {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
}

.Cep label {
    margin-left: 10px;
    font-size: 17px;
    background-color: #1A1A1D;
}

.linha2, .Cep .campoTexto {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: white;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.Logradouro {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
}

.Logradouro label {
    margin-left: 10px;
    font-size: 17px;
    background-color: #1A1A1D;
}

.linha2, .Logradouro .campoTexto {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: white;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.Bairro {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;
}

.Bairro label {
    margin-left: 10px;
    font-size: 17px;
    background-color: #1A1A1D;
}

.linha2, .Bairro .campoTexto {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: white;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.Cidade {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;  
}

.Cidade label{
    margin-left: 10px;
    font-size: 17px;
    background-color: #1A1A1D;
}


.linha3, .Cidade .campoTexto {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: white;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.Complemento {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;  
}

.Complemento label{
    margin-left: 10px;
    font-size: 17px;
    background-color: #1A1A1D;
}


.linha3, .Complemento .campoTexto {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: white;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}

.UF {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #1A1A1D;
    border-radius: 3px;
    padding: 3px;
    margin: 5px;
    width: 98%;
    height: 50px;
    border-radius: 5px;  
}

.UF label{
    margin-left: 10px;
    font-size: 17px;
    background-color: #1A1A1D;
}


.linha3, .UF .campoTexto {
    background: transparent;
    width: 100%;
    outline-width: 0;
    color: white;
    border: none;
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
}